extends layout

block title
  title #{name} styled by #{stylist.name} at #{salon.name} | Blush&Comb

append head
  meta(property="fb:app_id", content="163836567127476")
  meta(property="og:title", content="#{name} styled by #{stylist.name} at #{salon.name}")
  meta(property="og:type", content="og:website")
  meta(property="og:url", content="#{url}")

  meta(property="og:image", content="#{image_url}")
  meta(property="og:description", content="The best way to learn about amazing stylists is through your friends. Why not book an appointment?")

append scripts
  script(src='//code.jquery.com/jquery-2.0.2.min.js')
  div#fb-root
  script(src="http://connect.facebook.net/en_US/all.js")
  script.
    FB.init({appId: "163836567127476"});

    if (location.hash === "#prompt") {
      location.hash = "";
      $('#share-modal').css("display", "block");
      $('#overlay').removeClass('hidden');
      window.setTimeout(function() {
        $('#overlay').css('opacity', 1);
        $('#share-modal').addClass('solid');

        $('#overlay, #hide').click(function() {
          $('#overlay').addClass('hidden');
          $('#share-modal').css('opacity', 0);
        });
      }, 2000);
    }

    $('.share').click(function() {
      FB.ui({
        method: 'feed',
        display: 'popup',
        link: '#{url}'
      });
    });

block content
  div#contact
    div.block
      span.small style by
      span.large= stylist.name
    div.block
      span.small= salon.name
      span.large= stylist.phone
    div.block
      a(href="http://maps.google.com/?q=#{encodeURIComponent(salon.address)}")
        img.map(src="http://maps.googleapis.com/maps/api/staticmap?center=#{salon.address}&markers=color:red%7C#{salon.address}%7Csize:mid&zoom=15&size=340x120&maptype=roadmap&sensor=false")
      div.address= salon.address

    div.share Share on Facebook

  div#photo
    div.about= name
      div.date= date
    img#style(src="#{image_url}")

  div#overlay.hidden
  div#share-modal
    p Let your friends be the first to see your new style!
    div.share Share on Facebook
    div#hide hide
